header{
    /* border: 2px solid; */
    width: 100%;
    height: auto;
    background-color:#128F8B;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
     
}

    .nav{
        /* border: 2px solid; */
        width: 70%;
        flex-direction: row-reverse;
        margin-right: 2%;
    }

    .nav>img{
        border: 2px solid;

    }
    .categoria{
        /* border: 2px solid blue; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #61A4C0;
        color: #fff !important;
        padding: 3%;
    }

    ul li{
        margin-left: 10%;
    }


    
    h1{
        font-size: 3.5rem;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    span{
        margin-right: 40%;
    }