.navbar {
  background-color: #128F8B;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 10vw;
  height: 8vh;
  overflow: hidden;
}

.navbarMenu {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navbarMenu li {
  list-style: none;
}

.navbarLink {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  padding: 8px 15px;
  border-radius: 5px;
}

.navbarLink:hover {
  background-color: #61A4C0;
  color: #000;
  transform: scale(1.05);
  text-shadow: 0 0 10px #61A4C0, 0 0 20px #61A4C0;
}

.navbarLink::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00ffff;
  transition: width 0.4s ease-in-out;
}

.navbarLink:hover::after {
  width: 100%;
}

/* Estilos para o botão de hamburguer */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 4px;
  transition: 0.3s;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }

  .navbarMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #024b49de;
    padding: 10px 0;
  }


  .navbarMenu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
  }

  .navbarLink {
    padding: 10px 0;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }
}