.container input,
.container select,
.container textarea {
    font-family: 'Orbitron', sans-serif;
    width: 95%;
    padding: 12px;
    margin: 10px 0 20px 0;
    border-radius: 10px;
    border: 3px solid transparent;
    background: linear-gradient(white, white) padding-box, 
                linear-gradient(135deg, #20b0be, #26b5ae) border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: #1a1a1a;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.container input:focus,
.container select:focus,
.container textarea:focus {
    background: linear-gradient(white, white) padding-box, 
                linear-gradient(135deg, #20ebff, #18e8de) border-box;
    color: #1a1a1a;
    outline: none;
    box-shadow: 0 0 10px rgba(32, 235, 255, 0.6), 
                0 0 20px rgba(32, 235, 255, 0.4), 
                0 0 32px rgba(24, 232, 222, 0.3);
}


.container button,
.container input[type="submit"] {
    font-family: 'Orbitron', sans-serif;
    padding: 10px 20px;
    background: linear-gradient(135deg, #7fc3e0, #61A4C0);
    border: none;
    border-radius: 10px;
    color: #1a1a1a;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.container button:hover,
.container input[type="submit"]:hover {
    background: linear-gradient(135deg, #30b3ec, #30aee5);
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.container button:active,
.container input[type="submit"]:active {
    transform: translateY(0);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


/* Form Labels */
.container label {
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    color: #18ffc5;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

/* File Input */
.container input[type="file"] {
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.container input[type="file"]:hover {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 20px rgba(0, 159, 253, 0.6);
}

/* Form container spacing */
.container form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

/* --------------------------------------------------Responsivo-------------------------------------------------------------------------------- */
@media (max-width: 768px) {
    .container form {
        max-width: 90%;
        /* Reduz a largura para 90% da tela no mobile */
        padding: 15px;
    }

    .container input,
    .container select,
    .container textarea {
        width: 95%;
        font-size: 0.9rem;
        padding: 8px;
        margin: 8px 0 15px 0;
    }

    .container button,
    .container input[type="submit"] {
        padding: 8px 15px;
        font-size: 0.9rem;
    }

    .container label {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container form {
        max-width: 95%;
        padding: 10px;
    }

    .container input,
    .container select,
    .container textarea {
        font-size: 1.8rem;
        padding: 6px;
    }

    .container button,
    .container input[type="submit"] {
        padding: 6px 10px;
        font-size: 0.8rem;
    }

    .container label {
        font-size: 12px;
    }
}