/* Estilo geral da página */
.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .section_fitro{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    margin-bottom: 2em;
  }
  /* Filtro - Estilo geral */
  .filtro {
    width: 100%;  /* O filtro ocupa 70% da largura da tela */
    padding-top: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  /* Input de busca */
  .filtro input {
    width: 57em;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #128F8B;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .filtro input:focus{
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #504c4c;
    text-transform: uppercase;
  }
  
  /* Datalist */
  .filtro datalist {
    font-size: 1rem;
  }
  
  /* Categoria - Estilo geral */
  .categorias {
    width: 100%;  
    display: flex;
    justify-content: center;   
    gap: 5em;
    margin-bottom: 30px;
    padding: 10px;
  }

  .categorias select:focus {
    /* background-color: red; Cor de fundo quando em foco */
    border:2px solid #128F8B; /* Cor da borda quando em foco */
    outline: none;  
}

/* Estilo para o select quando um item é selecionado */
.categorias select:valid {
    background-color: #fff; /* Cor de fundo quando um item é selecionado */
}

  
  /* Estilo para cada item da categoria (select) */
  .categorias .col {
    width: 22%;  /* Cada select ocupa 22% do container */
  }
  
  .categorias select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #504c4c;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    transition: background-color 0.2s ease;
  }
  
  .categorias select:hover {
    background-color: #e9ecef;
  }
  
  /* Cards - Container Flex */
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
  }
  
  .section_cards{
    margin-top: 5em;
    margin-bottom: 6em;
    /* border: 2px solid; */
    width: 80%;
  }
  /* Estilos personalizados do card */
  .cardCustom {
    
    display: flex; /* Usar flexbox para o card */
    flex-direction: column; /* Organiza os elementos do card de cima para baixo */
    justify-content: center; /* Garante que o conteúdo do card seja bem distribuído */
    max-width: 250px; /* Definindo o tamanho máximo dos cards */
    border-radius: 8px; /* Arredondando os cantos */
    
    width: 90%;
    height: 90%;
    padding: 20px;
    max-width: 250px;  
    transition: transform .5s ease-in-out;
    /* margin-bottom: 2em; */
    border: 2px solid #e5e3e3f2;
    background-color: #22c0ed40;
  }
  
  .cardCustom:hover {
    transform: scale(1.05); /* Efeito ao passar o mouse */
    border-top: 3px solid #128f8ba8;
  }
  
  /* Imagem do card */
  .cardImage {
    width: 100%;
    height: auto;
  }
  
  /* Título do livro */
  .tituloLivro {
    font-size: 0.9rem;
    text-align: center;
  }
  
  /* Autor do livro */
  .autor {
    font-size: 0.8rem;
    color: #605e5ea1;
    text-align: center;
    /* border: 2px solid; */
  }
  
  /* Link dos cards */
  .cardLink {
    text-decoration: none;  /* Remove underline dos links */
    color: inherit;  /* Faz o texto ficar com a cor original */
  }
  
  .customButton{
    border-radius: 3%;
    padding: 5%;
    border: 2px solid #ff9c00;
    color: #ff9c00;
    cursor: pointer;
  }