

main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
    .filtro{
        border: 2px blue;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        
    }

    .filtro{
        background-color: #D9D9D9;
        padding: 30px;
    }

    .form-select{
        /* border: 2px solid red; */
        width: 200px;
        margin-left: 7%;
    }

    section{
        border: 2px solid blue;
        width: 90%; 
    }

    /* Card-Container */
    .shadow-sm {
        box-shadow: var(--bs-box-shadow-sm) !important;
        border: 2px solid;
        width: 100%;
        padding: 40px;
        background-color: lightgray;

    }
    .titulo-livro{
        /* border: 2px solid red; */
    }
    .titulo-livro h3{
        /* border: 2px solid red; */
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    .autor{
        /* border: 2px solid red; */
    }
    .autor h4{
        /* border: 2px solid red; */
        font-size: 1rem;
        font-weight: 400;
    }

    a{
        text-decoration: none;
    }
 