.container {
  background-color: #128F8B; /* Cor de fundo semelhante ao navbar */
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.title {
  color: #ffffff;
  margin-bottom: 20px;
  text-shadow: 0 0 8px rgba(97, 164, 192, 0.8);
}

.label {
  display: block;
  margin-top: 10px;
  color: #ffffff; /* Texto branco */
}

.input {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #61A4C0; /* Borda combinando com a cor de destaque */
  background-color: #128F8B; /* Fundo do input igual ao fundo do container */
  color: #ffffff;
}

.button {
  background-color: #61A4C0; /* Botão com cor semelhante ao hover do navbar */
  color: #1a1a1a; /* Cor do texto escuro para contraste */
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signupButton {
  background: none;
  color: #61A4C0; /* Cor azul para destaque */
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.signupText {
  color: #e0e0e0; /* Cor clara para contraste com o fundo */
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.signupText span {
  color: #61A4C0; /* Azul para destaque na palavra */
  font-weight: bold;
}